<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="TheoryBox_EndpointUrl" value="--CloudAnt Url Here--" />
  <add key="TheoryBox_AuthorizationKey" value="--UserName--" />
  <add key="TheoryBox_Password" value="--Password--" />
  <add key="TheoryBox_Database_Cards" value="--Name of DB that stores cards--"/>
  <add key="TheoryBox_Database_Logs" value="--Name of DB that stores log entries--"/>
</appSettings>